body{ font-family: Arial, Helvetica, sans-serif;}

/* Video 54: Filters */
    /*
    Filters
    */

    * {
        box-sizing: border-box;
    }
    img {
        transition: 0.3s;
        filter: grayscale(100%);
    }
    img:hover {
        filter: grayscale(0);
    }

/* Video 55: Gradients */
    /*
    Gradients
    linear-gradient(Direction || Angle, Color Stop 1, Color Stop 2, ....)
    */

.gradients {
    width: 400px;
    height: 200px;
    background-color: #eee;
    margin: 20px auto;
    position: relative;
    padding: 10px;
}
.gradients:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background-color: red;
    height: 10px;
    background-image: linear-gradient(
        to right,
        #2980b9 20%,
        #27ae60 20%,
        #27ae60 40%,
        #d35400 40%,
        #d35400 60%,
        #8e44ad 60%,
        #8e44ad 80%,
        #c0392b 80%
    );
}

/* Video 56 : Pointer Event and Caret Color */
input {
    caret-color: red;
}
a {
    pointer-events: none;
}

/* Assigment 1 */
.assignment1{
    background-color: #eee;
    width: 600px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    border-left: 10px solid #cf2e2e;
    border-right: 10px solid #7128be;
    position: relative;
}
.assignment1::first-letter{
    color: rgb(220, 68, 68);
}
.assignment1::before, .assignment1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    background-image: linear-gradient(to right,      
    #cf2e2e 20%,
    #0693e3 20%,
    #0693e3 40%,
    #27ae60 40%,
    #27ae60 60%,
    #d61c86 60%,
    #d61c86 80%,
    #7128be 80%);  
}

.assignment1::before{
    top: 0;
}
.assignment1::after{
    bottom: 0;
}

/* Assignment 2 */
.assignment2 div{
    background-color: #eee;
    width: 600px;
    margin: 20px auto;
    padding: 25px; 
    position: relative;
    caret-color: red;
    filter: opacity(0.5);
}
.assignment2 div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,      
    #f33d3d 50%,
    #009688 50%);
}
.assignment2 div:hover{
    filter: opacity(1);
}
